.foot{
  color: #fcf9ea;
  text-align: center;
  padding: 1.2%;
}

.about-css{
  text-align: center;
  margin-top: 1%;

}

.developer-font{
  font-family: 'Beth Ellen', cursive;
  padding-top: 1%;
  padding-bottom: 3%;
  color: #ff5858;
}
